# Exercise 2: Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem</h1>

<h1>Data Science Tools and Ecosystem</h1>

# Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
## In this notebook, Data Science Tools and Ecosystem are summarized.

### <b>Objectives:</b>
* Python
* R
* SQL

### <b>Objectives:</b>
* Python
* R
* SQL

# Exercise 4 - Create a markdown cell to list data science languages

Some of the commonly used libraries used by Data Scientists include:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python
2. R
3. SQL

# Exercise 5 - Create a markdown cell to list data science libraries

## Some of the commonly used libraries used by Data Scientists include:

* Pandas
* NumPy
* Matplotlib

## Some of the commonly used libraries used by Data Scientists include:

* Pandas
* NumPy
* Matplotlib

# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|:------------------:|
| Jupyter Notebook |
| RStudio |
| VS Code |

| Data Science Tools |
|:------------------:|
| Jupyter Notebook |
| RStudio |
| VS Code |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

$ (20 + 5)*4 $

$ (3+5)**5 $

$ (3+6)/3 $

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

$ (20 + 5)*4 $

$ (3+5)**5 $

$ (3+6)/3 $

# Exercise 8 - Create a code cell to multiply and add numbers

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [20]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

# or

print(200/60,'hours')

# simple

200/60

# with round numbers
print(round(200/60, 2), 'hours')

3.3333333333333335
3.3333333333333335 hours
3.33 hours

# Exercise 10 - Insert a markdown cell to list Objectives

### List popular languages for Data Science

* Python
* R
* Sql

# Exercise 11 - Create a markdown cell to indicate the Author's name

<h2>Author</h2>
Alexander Lehne

<h2>Author</h2>
Alexander Lehne